<form class="form-search mb-5" action="/" method="POST">
  <div class="form-group">
    <label for="cityName">Enter a city name:</label>
    <input type="text" class="form-control" name="cityName" id="cityName" autofocus autocomplete="off" />
  </div>
  <button class="btn btn-light btn-lg btn-block search-button" type="submit">Search</button>
</form>

</div>

<div class="footer-padding">
  <div class="footer">
    <a href="https://github.com/noisyment/weather-app" target="_blank" rel="noopener noreferrer">< View code on Github ></a>
  </div>
</div>
  </body>
</html>
