<%- include("partials/header"); %>
<h1 class="h1 mb-5 mt-5 font-weight-bold">Weather App</h1>
<% if (errorStatus) { %>
<p class="h5 mb-5 font-weight-light">Error, please try again or contact the developer if this error keeps occurring.</p>
<% } else { %> <% } %> <%- include("partials/footer"); %>
